body{
    font-size: 30px;
    font-family: sans-serif;
    margin: 0px; /*To make margin of whole body 0*/
}

#body-header{
    height: 65vh;   /*set header image as 65 of viewport height*/
    background-image: url(Resources/head.jpg);
    background-size: cover; /**/
    background-position: center; /**/
    opacity: 0.8; /*For effect decrease opacity of bg img from 1 to 0.9*/
    background-attachment: fixed; /*Know more about this  ! Sticky nav bar ? */
    padding-top: 1.2rem;
}

.text-center{
    text-align: center; /*For bringing text to cente we made a seperate class to achieve this*/
}
.horizontal-list{    
    list-style: none; /*To remove default list style from filled black circle to none*/
    padding-left: 0px;/**/
    margin: 0px;
}

.horizontal-list li{
    font-weight: 100;
    font-size: 4vh;
    display: inline-block; /*Default display of li is*/
    margin:0px 3vw 3vh 0px;/*To add margin to our list give spaces between each text*/
}

.horizontal-list li a{
    color:white;
    transition: color 0.5s, border-bottom 4s;
}

.horizontal-list li a:hover{
    background-color: aliceblue;
    color: black;
    border-bottom: 1px solid black;
}

#name-social-container{
    margin-top: 20vh;
}

#my-name{
    opacity: 1.0;
    font-size: 7vh;
    letter-spacing: 0.1rem;
    color: rgb(60, 0, 255);
    font-weight: 700;
    margin-bottom: 0.5rem;
}


horizontal-list-social{
    list-style: none; /*To remove default list style from filled black circle to none*/
    padding-left: 0px;/**/
}

.horizontal-list-social li{
    
    font-size: 4vh;
    display: inline-block; /*Default display of li is*/
    margin:0px 3vw 3vh 0px;/*To add margin to our list give spaces between each text*/
}

.horizontal-list-social li a i:hover{
    border-radius: 20%;
    box-shadow: 0px 0px 6px 4px rgb(0, 0, 0);
}

#about{
    height:auto;
    width: 100%;
    position:relative;/*To remove opacity effect of header our img was negative margin
    Will place it relatively to other components*/
    margin-top: 30px;
}

#my-image{
    height: 12rem;
    width: 12rem;
    margin-top: -17vh; /*To move this image up*/
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}

#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n+1){
    background-color: white;
}

section:nth-child(2n){
    background-color: whitesmoke;
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    /*margin: 10px auto;*/
    font-weight: 400;
}

.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

.skills-display{
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    /*height: 100px;
    border: 2px solid black;*/
    display: flex;
    flex-wrap: wrap;/*No of skills should be wrap*/
    justify-content: space-between; /*There must exist space between skills*/
    
}

.skill-progress{
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
    /*border: 2px solid black;*/
}
/*Apply css to direct child of skill progress*/
.skill-progress > div{
border-radius: 20px 0px 0px 20px;
box-shadow: 1px 1px 5px 2px #fffff4;
}

.skill-name span{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    margin-left: 10px;
    vertical-align: middle;
}
/*Common margin class*/
.mb75px{
    margin-bottom: 75px;
}
/*Common  Color Classes*/
.text-highlight{
    color:#2857a4;
    font-weight: 600;
}

.mb-blue{
    background-color: #3347d9cb;
}
.mb-pink{
    background-color: #ff38de;
}
.mb-orange{
    background-color: #ff8400;
}
.mb-light-blue{
    background-color: #23fff8;
}
.mb-light-green{
    background-color: #3af058;
}
.mb-yellow{
    background-color: #dafb00;
}
/*Common  % Classes*/
.ninety-five{
    width: 95%;
    height: inherit;
    
}
.twenty{
    width: 20%;
    height: inherit;
}
.fifty{
    width: 50%;
    height: inherit;
}
.ten{
    width: 10%;
    height: inherit;
}

/*Timeline*/
.timeline{
    position: relative;
    width: 75%;
    /*border: 2px solid black;*/
}

.timeline-box{
    position: relative;
    width: 40%;
    left: 5%;
    min-height: 150px;
    /*border: 2px solid black;*/
    margin: 5px;
}

.timeline-box::after{
    content: '';
    position: absolute;
    top: 30%;
    right: -13%;
    border-radius: 50%;
    width: 1.0rem;
    height: 1.0rem;
    border-color: #2857a4;
    background-color: darkgray;
    z-index: 1;
}

.timeline-box:nth-child(2nd):after{
    content: '';
    position: absolute;
    top: 30%;
    left: -13%;
    border-radius: 50%;
    width: 1.0rem;
    height: 1.0rem;
    border-color: #2857a4;
    background-color: darkgray;
    z-index: 1;
}

.timeline-box:nth-child(2n){
    left: 53%;
}

.timeline-divider{
    position: absolute;
    height: 75%;
    width: 0;
    border:3px dashed #0096fa6b;
    top: 10%;
    left: 50%;
}

.timeline-traveller{
    position: sticky;
    top: 25%;
    transform:rotate(90deg);
    z-index: 2;
}

.timeline-logo img{
    height: 10vh;
    width: 10vh;
   
}

.experience-designation {
    font-size: 1.4rem;
}

.experience-company-name {
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}

.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}

.experience-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}

.text-align-justify {
    text-align: justify;
}

/*Projects Section*/

#projects-container {
    /*border: 2px solid black;*/
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
    
}

.projects-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}

.projects-image-container img {
    width: 100%;
    height: 100%;
}

.projects-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.projects-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.projects-image-container:hover .projects-details {
    background-color: #80808078;
    color: white;
    overflow-wrap: break-word;
}


/* Contact Form */

#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
